@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Lexend:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: oklch(0.9824 0.0013 286.3757);
        --foreground: oklch(0.3211 0 0);
        --card: oklch(1.0000 0 0);
        --card-foreground: oklch(0.3211 0 0);
        --popover: oklch(1.0000 0 0);
        --popover-foreground: oklch(0.3211 0 0);
        --primary: oklch(0.5467 0.1932 341.1207);
        --primary-foreground: oklch(1.0000 0 0);
        --secondary: oklch(0.4382 0.1427 255.3899);
        --secondary-foreground: oklch(1.0000 0 0);
        --muted: oklch(0.9660 0.0116 334.0792);
        --muted-foreground: oklch(0.4816 0.0337 337.1321);
        --accent: oklch(0.9005 0.0745 336.2450);
        --accent-foreground: oklch(0.3211 0 0);
        --destructive: oklch(0.6741 0.1861 42.8185);
        --destructive-foreground: oklch(1.0000 0 0);
        --border: oklch(0.8699 0 0);
        --input: oklch(0.8699 0 0);
        --ring: oklch(0.7668 0.1746 127.8413);
        --chart-1: oklch(0.7668 0.1746 127.8413);
        --chart-2: oklch(0.5467 0.1932 341.1207);
        --chart-3: oklch(0.8233 0.1594 78.9202);
        --chart-4: oklch(0.4382 0.1427 255.3899);
        --chart-5: oklch(0.6741 0.1861 42.8185);
        --sidebar: oklch(0.9824 0.0013 286.3757);
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --radius: 0.5rem;
        --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
        --shadow-xs:  0 1px 3px 0px hsl(0 0% 0% / 0.05);
        --shadow-sm:  0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow:     0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow-md:  0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
        --shadow-lg:  0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
        --shadow-xl:  0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
        --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
        --sidebar-background: 0 0% 98%;
    }

    .dark {
        --background: oklch(0.2303 0.0125 264.2926);
        --foreground: oklch(0.9219 0 0);
        --card: oklch(0.3210 0.0078 223.6661);
        --card-foreground: oklch(0.9219 0 0);
        --popover: oklch(0.3210 0.0078 223.6661);
        --popover-foreground: oklch(0.9219 0 0);
        --primary: oklch(0.5467 0.1932 341.1207);
        --primary-foreground: oklch(1.0000 0 0);
        --secondary: oklch(0.4382 0.1427 255.3899);
        --secondary-foreground: oklch(0.9219 0 0);
        --muted: oklch(0.3867 0 0);
        --muted-foreground: oklch(0.7155 0 0);
        --accent: oklch(0.7418 0.1949 338.7237);
        --accent-foreground: oklch(0.9219 0 0);
        --destructive: oklch(0.6368 0.2078 25.3313);
        --destructive-foreground: oklch(1.0000 0 0);
        --border: oklch(0.3867 0 0);
        --input: oklch(0.3867 0 0);
        --ring: oklch(0.6487 0.1538 150.3071);
        --chart-1: oklch(0.6487 0.1538 150.3071);
        --chart-2: oklch(0.5880 0.0993 245.7394);
        --chart-3: oklch(0.6746 0.1414 261.3380);
        --chart-4: oklch(0.8269 0.1080 211.9627);
        --chart-5: oklch(0.5905 0.1608 148.2409);
        --sidebar: oklch(0.2303 0.0125 264.2926);
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
        --shadow-xs:  0 1px 3px 0px hsl(0 0% 0% / 0.05);
        --shadow-sm:  0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow:     0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow-md:  0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
        --shadow-lg:  0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
        --shadow-xl:  0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
        --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
        --sidebar-background: 240 5.9% 10%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
